* {
  box-sizing: border-box;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(236, 152, 42);
}

.center {
  width: 100%;
  height: 50%;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password {
  height: 20px;
  margin-bottom: 15px;
}

.submit {
  padding: 2px;
  font-size: 14px;
}
.message {
  margin-top: 20px;
}
