<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"
      integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      nonce="<%= nonce %>"
    ></script>
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/api/v1/css/reset-password.css"
    />
  </head>
  <body>
    <div class="center">
      <form class="form" id="reset-password-form">
        <label for="password">New Password:</label>
        <input class="password" type="password" id="password" required />
        <label for="password">Repeat Password:</label>
        <input class="password" type="password" id="repeat-password" required />
        <button class="submit" type="submit" disabled>Reset Password</button>
      </form>
      <p class="message"></p>
    </div>
    <script
      src="/api/v1/script/reset-password-script.js"
      nonce="<%= nonce %>"
    ></script>
  </body>
</html>
